body {
  background-image: url("Fundo\ de\ textura\ de\ lona\ azul_\ papel\ de\ parede\ de\ tecido\ limpo\ _\ Foto\ Premium.jpg");
}

.city {

  background-color:rgb(171, 212, 237);
  color: black;
  border: 10px solid rgb(145, 182, 197);
  margin: 50px;
  padding: 50px;
  border-radius: 30px;
  }

 .city {
  background-color:rgb(171, 212, 237);
  color: black;
  border: 10px solid rgb(145, 182, 197);
  margin: 50px;
  border-radius: 30px;
  }
 
 .ring {
  background-color: rgb(171, 212, 237);
  color: black;
  border: 10px solid rgb(145, 182, 197);
  margin: 50px;
  padding: 50px;
  border-radius: 30px;
  }
 .pink {
  background-color: rgb(171, 212, 237);
  color: black;
  border: 10px solid rgb(145, 182, 197);
  margin: 50px;
  padding: 50px;
  border-radius: 30px;
  }

.frog {
    background-color: rgb(171, 212, 237);
    color: black;
    border: 10px solid rgb(145, 182, 197);
    margin: 50px;
    padding: 50px;
    border-radius: 30px;
    }

 .man {
        background-color: rgb(171, 212, 237);
        color: black;
        border: 10px solid rgb(145, 182, 197);
        margin: 50px;
        padding: 50px;
        border-radius: 12px;
        }

 .pizza {
background-color: rgb(69, 25, 178);
color: black;
border: 10px solid rgb(18, 4, 75);
margin: 50px;
padding: 50px;
border-radius: 12px;
}

.home {
background-color: rgb(118, 7, 133);
color: black;
border: 10px solid rgb(60, 4, 47);
margin: 50px;
padding: 50px;
 }

.contry {
background-color: rgb(227, 51, 60);
color: black;
border: 10px solid rgb(96, 8, 17);
margin: 50px;
padding: 50px;
}

  
  
  ol li {
    background: #b49191;
    color: rgb(158, 39, 39);
    padding: 5px;
    margin-left: 35px;
  }
  
  ul li {
    background: #92bdeb;
    color: darkblue;
    margin: 3px;
   
  }

  a:link, a:visited {
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
  }
  
  a:hover, a:active {
    color: rgb(33, 166, 200);
  }

  h1{
    display: flex;
    justify-content: center;
    

  }

  a:link, a:visited {
    background-color: #13004f;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(114, 139, 185);